
    /* .figure {
      background: #1d1d1d;
      display: inline-block;
      margin: 10px;
      max-width: 280px;
      min-width: 230px;
      overflow: hidden;
      position: relative;
      text-align: center;
      width: 100%;
    }

    .figure * {
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    } */

    .figure2 {
      background: #1d1d1d;
      display: inline-block;
      /* margin: 10px; */
      /* max-width: 280px;
      min-width: 230px; */
      overflow: hidden;
      position: relative;
      text-align: center;
      width: 100%;
    }

      /* Section 5 - Hover Effect #05 */

    .section-5 .figure {
        height: 180px;
    position: relative;
    background: black;
      }

      .section-5 .figure img {
        width: 100%;
        position: relative;
        height: 100%;
        transition: all 0.35s ease-in-out;
        object-fit: cover;
      }

      .section-5 .figure figcaption {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 13%;
        right: 13%;
        border: 1px solid rgba(239, 239, 239, 0.8);
        border-width: 0 1px;
        background-color: rgb(29 29 29 / 73%);
        color: #efefef;
        /*   width: 220px; */
      }

      .section-5 .figure h2 {
        padding: 15px 20px;
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
      }

      .section-5 .figure h2 span {
        font-weight: 800;
        display: block;
      }

      .section-5 .figure .icon,
      .section-5 .figure .caption {
        overflow: hidden;
        width: 100%;
        position: absolute;
      }

      .section-5 .figure .icon {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 0;
      }

      .section-5 .figure .caption {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        bottom: 0;
      }

      .section-5 .figure p,
      .section-5 .figure .icon span {
        display: table;
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
        text-align: center;
        width: auto;
        color: rgba(239, 239, 239, 0);
        font-size: 0.8em;
      }

      .section-5 .figure p:before,
      .section-5 .figure .icon span:before,
      .section-5 .figure p:after,
      .section-5 .figure .icon span:after {
        position: absolute;
        height: 1px;
        content: "";
        background: #fff;
        -webkit-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
      }

      .section-5 .figure .icon span:before,
      .section-5 .figure .icon span:after {
        width: 1000%;
        top: 50%;
      }

      .section-5 .figure .icon span:before {
        left: -1000%;
      }

      .section-5 .figure .icon span:after {
        right: -1000%;
      }

      .section-5 ion-icon {
        color: #efefef;
        font-size: 30px;
      }

      .section-5 .figure p:before,
      .section-5 .figure p:after {
        width: 150%;
        bottom: 50%;
      }

      .section-5 .figure p:before {
        left: -100%;
      }

      .section-5 .figure p:after {
        right: -100%;
      }

      .section-5 .figure a {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 1;
      }

      .section-5 .figure:hover img,
      .section-5 .figure.hover img {
        opacity: 0.4;
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
      }

      .section-5 .figure:hover p,
      .section-5 .figure.hover p {
        opacity: 1;
        -webkit-transition-delay: 0.35s;
        transition-delay: 0.35s;
        color: #efefef;
      }

      .section-5 .figure:hover p:before,
      .section-5 .figure.hover p:before {
        left: -150%;
      }

      .section-5 .figure:hover p:after,
      .section-5 .figure.hover p:after {
        right: -150%;
      }




.section-1 .figure:before,
.section-1 .figure:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #1d1d1d;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  content: '';
  opacity: 0.9;
  z-index: 999;
}

.section-1 .figure:before {
  -webkit-transform: skew(45deg) translateX(-180%);
  transform: skew(45deg) translateX(-180%);
}

.section-1 .figure:after {
  -webkit-transform: skew(45deg) translate(180%);
  transform: skew(45deg) translateX(180%);
}

.section-1 .figure img {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.section-1 .figure figcaption {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%,-50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 10px #1d1d1d;
    box-shadow: 0 0 10px #1d1d1d;
}

.section-1 .figure h3 {
  background-color: #1d1d1d;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 1em; 
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.section-1 .figure a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.section-1 .figure:hover > img,
.section-1 .figure:hover > img {
  opacity: 0.5;
}

.section-1 .figure:hover:before,
.section-1 .figure.hover:before {
  -webkit-transform: skew(45deg) translateX(-80%);
  transform: skew(45deg) translateX(-80%);
}

.section-1 .figure:hover:after,
.section-1 .figure.hover:after {
  -webkit-transform: skew(45deg) translateX(80%);
  transform: skew(45deg) translateX(80%);
}

.section-1 figure:hover figcaption,
.section-1 figure.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

    .section-2 {
  /* background: #1d1d1d;
  color: #efefef; */
}

.section-2 .figure {
  background: #ffffff;
    color: #1d1d1d;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
        height: 180px;
    border-radius: 6px;

}

.section-2 .figure img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
  transition: all 0.35s ease-in-out;
}

.section-2 .figure figcaption {
  position: absolute;
  
  z-index: 1;
  top: 50%;
  left: 50%;
  /* padding: 5px 20px; */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 1.1em; /* 1.1em */
  /* overflow: hidden; */
  height: auto;
  width: 105px;
}

.section-2 .figure h3 {
  text-transform: uppercase;
  font-size: 0.9em;
  margin: 0;
  letter-spacing: 2px;
}

.section-2 .figure h3.hover {
  color: transparent;
  font-weight: 700;
  display: none;
}



.section-2 .figure a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.section-2 .figure .title {
  /* transform: translatey(50%); */
    text-align: center;
    color: #000;
    font-weight: 700;
    background-color: #efefef;
    padding: 13px 6px;
}
.section-2 .figure .hover {
  /* transform: translatey(50%);   */

}

.section-2 .figure:hover > img,
.section-2 .figure.hover > img {
  opacity: 0;
}

.section-2 .figure:hover figcaption,
.section-2 .figure.hover figcaption {
  background-color: #1d1d1d;
}

.section-2 .figure:hover .title,
.section-2 .figure.hover .title {
  /* -webkit-transform: translateY(-150%);
  transform: translateY(-150%); */
  display: none;
}

.section-2 .figure:hover .hover, 
.section-2 .figure.hover .hover {
  /* -webkit-transform: translateY(-50%);
  transform: translateY(-50%); */
  display: block;
    padding: 12px 0px;
    color: #fff;
}

.service-img-height{
  height: 140px !important;
}

@media screen and (min-width:1500px){
  .section-2 .figure {
    height: 233px;
  }

  .service-img-height {
    height: 186px !important;
  }

  .form-control-sm{
    font-size: 1rem;
  }

  .form-label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.card-title{
      font-size: 30px;
    padding-bottom: 18px;
    font-weight: 700;
}

.sign-in-button {
        padding: 3px 20px;
    font-size: 18px;
}

.section-2 .figure h3 {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
    letter-spacing: 2px;
}




}




/* button hover effect/ */

.card_btn {
           
            position: relative;
            overflow: hidden;
            cursor: pointer;
        }

        .card_btn::before,
        .card_btn::after,
        .card_btn .line-bottom,
        .card_btn .line-left {
            content: "";
            position: absolute;
            background: #ffffff;
            opacity: 0;
        }

        /* TOP */
        .card_btn::before {
            width: 0%;
            height: 2px;
            top: 0;
            left: 0;
        }

        /* RIGHT */
        .card_btn::after {
            width: 3px;
            height: 0%;
            top: 0;
            right: 0;
        }

        /* BOTTOM */
        .card_btn .line-bottom {
            width: 0%;
            height: 2px;
            bottom: 0;
            right: 0;
        }

        /* LEFT */
        .card_btn .line-left {
            width: 2px;
            height: 0%;
            bottom: 0;
            left: 0;
        }

        @keyframes border-top {
            0% {
                width: 0%;
                opacity: 1;
            }

            25% {
                width: 100%;
                opacity: 1;
            }

            26% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes border-right {
            0% {
                height: 0%;
                opacity: 0;
            }

            24% {
                opacity: 0;
            }

            25% {
                opacity: 1;
            }

            50% {
                height: 100%;
                opacity: 1;
            }

            51% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes border-bottom {
            0% {
                opacity: 0;
            }

            49% {
                opacity: 0;
            }

            50% {
                opacity: 1;
                width: 0%;
            }

            75% {
                width: 100%;
                opacity: 1;
            }

            76% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes border-left {
            0% {
                opacity: 0;
            }

            74% {
                opacity: 0;
            }

            75% {
                opacity: 1;
                height: 0%;
            }

            100% {
                height: 100%;
                opacity: 1;
            }
        }

        .card_btn:hover::before {
            animation: border-top 2s linear infinite;
        }

        .card_btn:hover::after {
            animation: border-right 2s linear infinite;
        }

        .card_btn:hover .line-bottom {
            animation: border-bottom 2s linear infinite;
        }

        .card_btn:hover .line-left {
            animation: border-left 2s linear infinite;
        }
