      .section-6 .figure {
        text-align: left;
        /* background: #1d1d1d; */
        font-size: 16px;
      }

      .section-6 .figure img {
        position: relative;
        max-width: 100%;
        vertical-align: top;
      }

      .section-6 figcaption {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        padding: 20px 30px;
      }

      .section-6 .figure figcaption:before,
      .section-6 .figure figcaption:after {
        width: 2px;
        height: 0;
      }

      .section-6 .figure figcaption:before {
        right: 0;
        top: 0;
      }

      .section-6 .figure figcaption:after {
        left: 0;
        bottom: 0;
      }

      .section-6 .figure h3,
      .section-6 .figure p {
        line-height: 1.5em;
      }

      .section-6 .figure h3 {
        margin: 0 0 5px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .section-6 .figure p {
        font-size: 0.8em;
        font-weight: 400;
        margin: 0 0 15px;
      }

      .section-6 .figure a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }

     .section-6 .figure:before,
    .section-6 .figure:after,
    .section-6 .figure figcaption:before,
    .section-6 .figure figcaption:after {
    position: absolute;
    content: '';
    background-color: #000;
    z-index: 1;
    -webkit-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;
    opacity: 0.8;
    }

      .section-6 .figure:before,
      .section-6 .figure:after {
        height: 1px;
        width: 0%;
      }

      .section-6 .figure:before {
        top: 0;
        left: 0;
      }

      .section-6 .figure:after {
        bottom: 0;
        right: 0;
      }

      .section-6 .figure:hover img,
      .section-6 .figure.hover img {
        opacity: 1;
      }

      .section-6 .figure:hover figcaption:before,
      .section-6 .figure.hover figcaption:before,
      .section-6 .figure:hover figcaption:after,
      .section-6 .figure.hover figcaption:after {
        height: 100%;
      }

      .section-6 .figure:hover figcaption {
        opacity: 1;
      }

      .section-6 .figure:hover:before,
      .section-6 .figure.hover:before,
      .section-6 .figure:hover:after,
      .section-6 .figure.hover:after {
        width: 100%;
      }

      .section-6 .figure:hover:before,
      .section-6 .figure.hover:before,
      .section-6 .figure:hover:after,
      .section-6 .figure.hover:after,
      .section-6 .figure:hover figcaption:before,
      .section-6 .figure.hover figcaption:before,
      .section-6 .figure:hover figcaption:after,
      .section-6 .figure.hover figcaption:after {
        opacity: 0.4;
      }